
body {
    margin: 0px;
    /* background-image: url(../JonesTennis/images/lightblue.jpg); */
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #91CDD7;
    width: 100%;
    height: 100%; 
}

.container {
    display: grid;
    grid-template-columns: 2fr;
    text-align: center; 
}

.nav-wrapper {
    display: inline;
    justify-content: space-between;
    padding: 30px; 
    width: 100%; 
}

.left-side {
    display: c; 
    
}


/* p {
    text-align: right;
} */

.nav-wrapper > .left-side > div {
    margin-right: 45px;
    font-size: 1.3em;
    text-transform: uppercase;
    display: inline; 
} 

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}

.nav-link-wrapper a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
    
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
    
}

.nav-link-wrapper a:hover {
    color: blue;
    text-align: flex;
}

.contact-us {
    text-align: center;
    color: black;
    font-size: 48px;
    width: 100%;
    height: 100%;
}

.contact-text{
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100%; 
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction {
    text-align: center;
    font-size: 48px;
    color: black; 
    width: 100%; 
    height: 100%; 
}

.column {
    float: none;
    margin-bottom: 200px;
    padding: 25px 25px 25px 25px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 675px) {
    .column {
        width: 100%;
        display: absolute;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    font-size: 48px; 
}

.photo {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    width: 50%;
    height: 50%; 
}

.header {
    text-align: center; 
    font-size: 48px;  
}

.lessons {
    text-align: center; 
    font-size: 48px; 
}

.lesson-text {
    font-size: 40px; 
    text-align: center; 
}

.description {
    font-size: 40px; 
}
  
.me {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}

.mom {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}

.momPassion {
    font-size: 40px; 
}

.parkerQuote {
    font-size: 40px; 
}

.call {
    text-align: center;
    font-size: 20px; 
}

.info {
    text-align: center; 
    font-size: 20px; 
}  

.logo {
    display: inline-block; 
    max-width: 100%;
    height: auto; 
}

.coachName {
    font-size: 40px; 
}

.hannahDescription {
    font-size: 40px; 
}

.coachHannah {
    font-size: 40px; 
}

.hannah {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}
