
body {
    margin: 0px;
    background-image: url(../JonesTennis/images/lightblue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px; 
}

.left-side {
    display: flex; 
}

.contact-wrapper{
    margin-right: px;
    font-size: 1em;
    text-transform: uppercase;
    color: black;
}

p {
    text-align: right;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
} 

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.contact-us {
    text-align: center;
}

.contact-text{
    text-align: center;
}

.contact-wrapper {
    text-align: right;
}

